* {
  font-family: 'Raleway', sans-serif;
}

nav ul li {
  background-color: #b1d5e2;
  display: inline-block;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left:10px;
  font-family: 'Raleway', sans-serif;
  margin-left: 5px;
}

.nav {
  top: 0;
  left: 0
  display: inline-block;
  /* float: left; */
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  height: 50px;
  background-color: #2bb1ff;
  width: 100%vw;
}

.branding {
  border-radius: 50px;
  margin-left: 0px;
}

.bo1 {
  /* background-image: url('Images/background1.png'); */
  background-color: #54aece;
  margin-top: 0px;
  color: white;
  height: 100%vh;
  background-filter: blur(1.5px);
  font-size: 16px;
}
/* Grid Setup */
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "infoview spacing"
  "spacing1 botabout";
}

.spacing {
  grid-area: spacing;
  background-color: white;
  filter: blur(px);
  height: 400px;
  border-left-width: medium;
  border-color: black;
}

.spacing1 {
  grid-area: spacing1;
  background-color: white;
  height: 400px;
  border-left-width: medium;
  border-color: black;
}

.v1 {
  border-left: 2px solid black;
  height: 400px;
  float: left;
}

.v2 {
  border-right: 2px solid black;
  height: 400px;
  float: right;
}

.infoview {
  grid-area: infoview;
  background-color:;
}
.botabout {
  grid-area: botabout;
}

.image5px {
  margin-left: 20px;
  margin-top: 20px;
}

.h1i {
  padding-left: 30%;
  font-size: 30px;
}

.bo1 .grid .infoview p {
  margin-left: 5px;
}
